.hero {
    width: 100%;
    /* height: 500px; */
    min-height: 50vh;

    background-image:
           linear-gradient(
            to bottom,
            rgba(41, 93, 213, 0.3),
            #1e3a8a
        ),
        var(--hero-bg, url("../assets/images/logo.png")); /*صوره defulat لو حاجه مشتغلتش*/

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center; 
}
.hero-content {
    position: relative;
    z-index: 1;
    color: white;
    /* padding-left: 40px;
    padding-right: 40px; */
    padding: 120px 20px 0px;
    /* padding-top: 300px;
    padding-bottom: 100px; */
    text-align: center; /* النص سنتر في الموبايل أحسن */
    width: 100%;
    max-width: 800px;
    /* max-width: 650px; */
    /* margin: 0px; */
}

.hero-content h1 {
    /* font-size: 50px; */
    font-size: clamp(28px, 5vw, 50px);/*علي حسب حجم الشاشه*/
    margin: 15px 0;
    font-family: var(--font-heading);
}

.hero-content p {
    /* font-size: 20px; */
    font-size: clamp(16px, 3vw, 20px);
    line-height: 1.6;
    font-family: var(--font-body);
    color:  #a0aec0;
}
@media (min-width: 768px) {
    .hero {
        justify-content: flex-start !important; 
    }
    .hero-content {
        text-align: left !important; 
        padding: 300px 50px 100px 60px !important;
        margin: 0 !important;
        max-width: 700px !important;
       
    }
}
body{
    background-color: var(--color-bg-base);
    margin: 0;

}
.main{
    font-family: var(--font-body);
    background-color: var(--color-bg-base) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30PX;
    margin: 0px;
}
.def{
    /* box-shadow:var( --shadow-me); */
    border-radius: 25px;
    background-color: var(--color-bg-base);
    padding: 20px;

    /* width: 700px; */
    width: 100%; 
    max-width: 700px; 

    box-sizing: border-box;
}
.def h2{
    font-family: var(--font-heading);
    color: var(--color-text);
}
.def p{
    font-family: var(--font-body);
    color: var(--color-text);
}
.ss{

    display: inline-flex;
    align-items: center;

    background-color: var(--color-primary);
    color:#F9FAFB ;

    border: none;
    border-radius: 999px;
    height: 40px;
    padding: 10px;

    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.ss:hover{
    background-color: var(--color-primary-dark) ;
    transform: scale(1.05);
}
.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
iframe {
    border-radius: 12px;
}
.content-wrapper{
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column; 
    align-items: center;
    position: relative;
    gap: 30px;

    width: 100%;
    max-width: 1200px; 
    padding: 0 20px;
    margin: 0 auto;
}
@media (min-width: 900px) {
    .content-wrapper {
        flex-direction: row;
        align-items: flex-start;
    }
}
.left-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50PX;
    margin: 0px;
    height: 100%;
}
.right-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    gap: 20px;
    top: 80px;
    box-shadow:var( --shadow-me);
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: var(--color-bg-base);
    padding: 30px;
    /* width: 300px;
    height: 300px; */
    width: 100%;
    max-width: 350px;
    height: auto;
}
.right-card h2{
    font-family: var(--font-heading);
    color: var(--color-primary);
}
.right-card p{
    font-family: var(--font-body);
    color: var(--color-primary);
}
.right-card a{
    font-family: var(--font-heading);
    font-size: 20px;
    font-weight: 500;
    background-color: var(--color-primary);
    color:#F9FAFB ;
    border: none;
    width: 100%;
    border-radius: 999px;
    height: 40px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    
}
.right-card a:hover{
    background-color: var(--color-primary-dark) ;
    scale: 1.05;
}
.h-but{
    font-family: var(--font-heading);
    font-size: 12px;
    /* background-color: var(--color-bg-base); */
    background-color: azure;
    opacity: 0.6;
    /* color: var(--color-primary); */
    border: none;
    border-radius: 999px;
    height: 35px;
    padding: 8px;

}
.features-list li {
    /* display: flex;
    align-items: center; */
    gap: 12px;
    font-size: 14px;
}
.parteners-sec{
    margin: 0px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 100%;
}
.grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 900px;
    justify-content: center;
}
@media (max-width:768px){
    .grid{grid-template-columns:repeat(2,1fr);}
}
@media (max-width:480px){
    .grid{grid-template-columns:1fr;}
}
.card{
    background:var(--color-bg-base);
    border:1px solid rgba(255, 255, 255, 0.1);
    box-shadow:var( --shadow-me);
    padding:20px;
    height: 120px;
    justify-content: center;
    border-radius: 25px;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    gap: 15px;
    text-decoration:none;
    color:var(--text);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}
/* .logo img{
    width: 100px;
} */

#course-video {
    width: 100%;
    aspect-ratio: 16 / 9; /*  يحافظ على أبعاد يوتيوب الأصلية مهما كان عرض الشاشة */
    height: auto;
    max-height: 500px;
    border-radius: 12px;
}