<footer class="main-footer">
    <div class="top-part">
        <div class="brand-part">
            <div class="brand">
            <a class="brand" href="index.html"> <img class="logo" src="assets/images/logo.png" alt="logo"> EduLearn</a>
            </div>
            <p class="about">Quality education best educational content.</p>
            <div class="socials">
                <a href="#"><i class="fa-brands fa-google"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
        <div>
            <h3>Quick Links</h3>
            <ul class="links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div>
            <h3>Support</h3>
            <ul class="support">
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
        <div>
            <h3>Contact</h3>
            <ul class="contact">
                <li><i class="fa-solid fa-envelope"></i>help@edulearn.com</li>
                <li><i class="fa-solid fa-phone"></i>+20 123 456 789</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        © 2026 EduLearn. All rights reserved. Built with passion by the EduLearn Team.
    </div>
</footer>