<header class ="main-header" id="main-header">
    <a class="brand" href="index.html"> <img class="logo" src="assets/images/logo.png" alt="logo"> EduLearn</a>
    <button class="nav-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#header-menu" aria-controls="header-menu" aria-expanded="false">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
    <div class="menu collapse" id="header-menu">
        <nav class="nav">
            <a href="index.html">Home</a>
            <a href="course.html">Courses</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
        <div class="actions">
            <button class="theme-btn" type="button"><img class="theme-img" src="assets/images/navbar/sun.png" alt=""></button>
            <a class="btn outline" href="#">Login</a>
            <a class="btn solid" href="#">Sign Up</a>
        </div>
    </div>
</header>